<div class="base-body">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>
        <h3>Login</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
      <br>
      <div class="rodape-login">
        <div>
          <a routerLink="signup">Cadastrar-se?</a> &nbsp; &nbsp;
        </div>
        <div>
          <a routerLink="esqueceu-senha">Esqueceu a senha?</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="img-fundo-logo-transparente"></div>