/* Mundando a fonte de todos os itens do html */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Conceito de Mobile first */
/* Seção das tags */
/* Ajustando o menu */
header {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
}
/* Footer */
footer {
  background-color: rgba(60, 209, 219, 0.3);
  display: grid;
  grid-template-areas: 
    'enderecos1 enderecos3'
    'enderecos2 midias-sociais';
  padding: 10px;
}
/* Seção de IDS */
#nav-desktop {
  display: none;
}
#nav-desktop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: right;
  margin-right: 15px;
}
#nav-desktop ul li {
  font-weight: bold;
}
/* Menu mobile */
#mobile-menu {
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}
#mobile-menu img {
  width: 50px;
}
#nav-mobile ul {
  list-style: none;
  text-align: right;
}
#nav-mobile ul li {
  margin-top: 5px;
}
#banner, #novidade {
  background-color: #3CD1DB;
  padding: 3vw;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
#banner img, #novidade img {
  width: 100%;
}
#banner div, #novidade div {
  margin-top: 10px;
  width: 100%;
}
#logotipo-rodape {
  display: none;
  grid-area: imagem-logo;
}
#midias-sociais {
  grid-area: midias-sociais;
}
#midias-sociais img{
  height: 40px;
}
#menu-rodape {
  display: none;
  grid-area: menu-rodape;
}
#menu-rodape ul {
  list-style: none;
}
#menu-rodape ul li {
  margin-bottom: 10px;
}
/* Itens do destaque */
#galeria {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Seção das Classes */
.enderecos-rodape1 {
  grid-area: enderecos1;
  font-size: small;
}
.enderecos-rodape2 {
  grid-area: enderecos2;
  font-size: small;
}
.enderecos-rodape3 {
  grid-area: enderecos3;
  font-size: small;
}
/* Minhas classes CSS */
.texto-centralizado {
  text-align: center;
}
.img-logo {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
/* Grupo de cards*/
.grupo-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}
/* Classe card */
.senai-card {
  width: 250px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 10px;
}
.senai-card img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.senai-card div {
  padding: 10px;
}
/*#region Ajustes Finos do Bootstrap*/
/* Ajustando o tamanho do slide para ficar com 80% da altura da tela */
.carousel-item {
  height: 60vw;
}
/* Ajustando a altura da imagem para não cortar a imagem mas expandir
para caber no tamanho do slide */
.carousel-item img {
  height: 100%;
}
/* Mundando o fundo dos títulos dos slides para fundo tranparente
cinza */
.carousel-caption {
  background-color: rgba(192, 192, 192, 0.65);
  border-radius: 20px;
}
/* Deixando os indicadores dos slides arredondados */
.carousel-indicators [data-bs-target]{
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin-left: 6px;
  margin-right: 6px;
}
/* Trocando o ícone indicador de próximo do carrosel */
.carousel-control-next-icon{
  background-image: url("../imagens/maior.svg");
}
/* Trocando o ícone do indicador de anterior do carrosel */
.carousel-control-prev-icon{
  background-image: url("../imagens/menor.svg");
}
/* Ajustando o fundo dos ícones de anterior e próximo para ficar
arredondado, centralizado na altura dos slides e fundo transparente
branco */
.carousel-control-next, .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
/*#endregion*/
/*#region Ajustes de layout - Responsividade */
@media screen and (min-width:720px) {
  footer {
    grid-template-areas: 
      'imagem-logo enderecos1 midias-sociais'
      'imagem-logo enderecos2 menu-rodape'
      'imagem-logo enderecos3 menu-rodape';
    padding: 20px;
  }  

  #nav-desktop {
    display: block;
  }
  #mobile-menu {
    display: none;
  }
  #banner, #novidade {
    padding: 2vw;
    column-gap: 50px;
    margin-top: 10px;
  }
  #banner img, #novidade img {
    width: 450px;
  }
  #banner div, #novidade div {
    margin-top: 20px;
    width: 600px;
  }
  #logotipo-rodape {
    display: block;
  }
  #menu-rodape {
    display: block;
  }

  .carousel-item {
    height: 50vw;
  }  
  .img-logo {
    width: 100px;
  }
}

@media screen and (min-width:920px) {
  .carousel-item {
    height: 40vw;
  }  
}
/*#endregion*/