<div class="example-container">
  <app-header></app-header>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <a mat-list-item routerLink="home" (click)="snav.toggle()">Home</a>
        <a mat-list-item routerLink="contato" (click)="snav.toggle()">Contato</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>