<div id="div-header" class="row">
  <div class="col-2">
    <img class="img-logo" src="assets/img/noimage.png" alt="Logotipo da Game Mania">
  </div>
  <div class="col-10">
    <div (click)="onClickMenu()" id="menu-mobile">
      <img src="assets/img/menu-hamburg.svg" alt="menu mobile">
    </div>
    <nav id="nav-desktop">
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="">Jogos</a></li>
        <li><a routerLink="">Hardware</a></li>
        <li><a routerLink="">Celulares</a></li>
        <li><a routerLink="">PC Gamer</a></li>
        <li><a routerLink="contato">Contato</a></li>
        <li><a routerLink="">Login</a></li>
      </ul>
    </nav>
  </div>
</div>
<div id="menu-slide">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="">Jogos</a></li>
    <li><a routerLink="">Hardware</a></li>
    <li><a routerLink="">Celulares</a></li>
    <li><a routerLink="">PC Gamer</a></li>
    <li><a routerLink="contato">Contato</a></li>
    <li><a routerLink="">Login</a></li>
  </ul>
</div>
