<mat-card id="form-contato">
  <mat-card-header>
    <mat-card-title>Formulário de Contato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <!--Nome da pessoa-->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput ngModel name="nome" type="text">
        </mat-form-field>
      </div>
      <!--E-mail da pessoa-->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput ngModel name="email" type="email">
        </mat-form-field>
      </div>
      <!--Telefone da pessoa-->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput ngModel name="telefone" type="text">
        </mat-form-field>
      </div>
      <!--Mensagem-->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Mensagem</mat-label>
          <textarea matInput ngModel name="mensagem"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>